.hovering-1  :hover{
    
	font-size: 12px;
	transform: scale(1);
    
	animation-name: coloring;
    animation-duration: 2s;
    animation-iteration-count: 3;

}
@keyframes coloring {
    from{
        
        color: aquamarine;

    }to{
        
        color: burlywood;
    }
    
}
