#google_translate_element select{
  /*Adding style to the select language button*/
  background: transparent;
  color: #fff;
  /*border: none;*/
  padding:2px 6px;
  height: 35px;
  font-size: 14px;
  font-weight: 400;
  border: 1.5px solid #fff;
  border-radius: 30px;
  }
  option{
    background-color: black;
   text-transform: uppercase;
  }
  .goog-te-combo{
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }
  /*language button style*/
  option>value
  /*google translate link | logo */
    .goog-logo-link,.goog-te-gadget span,div#goog-gt-{
    display:none!important;
    }
  .goog-te-gadget{
    color:transparent!important;
    font-size:0;
  }
  
  /* google translate banner-frame */
  
  .goog-te-banner-frame{
  display:none !important;
  }
  
  #goog-gt-tt, .goog-te-balloon-frame{display: none !important;}
 .goog-text-highlight { background: none !important; box-shadow: none !important;}